body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-button {
  margin-left: 2%;
}

.all-button {
  position: relative;
  left: 2% !important;
}

.even-button {
  position: relative;
  left: 10% !important;
  margin-top: -1.45% !important;
}

.odd-button {
  position: relative;
  left: 19% !important;
  margin-top: -1.45%;
}

.home-link {
  position: relative;
  float: right;
  padding-top: 5%;
  padding-right: 65%;
}
